{
  "plugins": [
	"@typescript-eslint/eslint-plugin",
	"prettier"
  ],
  "extends": [
	"plugin:@typescript-eslint/recommended"
  ],
  "rules": {
	"prettier/prettier": "error",
	"quotes": [
	  "error",
	  "backtick"
	],
	"prefer-template": "error"
  }
}
