<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
			name="viewport"
	/>
	<meta content="ie=edge" http-equiv="X-UA-Compatible"/>
	<title>Chat</title>
	<link href="https://fonts.googleapis.com" rel="preconnect"/>
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect"/>
	<link
			href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Sans:wght@400;700&display=swap"
			rel="stylesheet"
	/>
	<link href="/index.css" rel="stylesheet" type="text/css"/>
</head>
<header>
	<h1 class="inline-block color-white bg-black">404</h1>
</header>
<body>
<div class="error"></div>
<div class="wrapper outline-primary">
	<a class="link-404" href="/">
		Page not found. Go back to lobby.
	</a>
</div>
</body>
</html>
