<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="/index.css" type="text/css"/>
</head>
<body>
<div class="container">
    <header>
        <h1>Lobby</h1>
    </header>
<form action="/chat" class="lobby-form">
    <div>
    <label for="room-name">Room Name:</label>
    <input id="room-name" name="room" placeholder="Type here..."/>
    </div>
    <div>
    <label for="username">Username:</label>
    <input id="username" name="username" placeholder="Type here..."/>
    </div>
    <div class="form-submit">
        <button type="submit">Join</button>
    </div>
</form>
</div>
</body>
</html>