:root {
  --min-h: 3rem;
  --screen-1: 960px;
  --screen-2: 500px;
  --h: 500px;
  --spacing-1: 1rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.3rem;
  --font-size-1: 2rem;
  --font-size-2: 1.8rem;
  --font-size-3: 1.6rem;
  --font-size-4: 1.4rem;
  --font-size-5: 1.2rem;
  --font-size-6: 1.1rem;
  --font-size-7: 1rem;
  --font-body: 'Inria Sans', sans-serif;
  --font-heading: 'Bebas Neue', cursive;
  --color-primary: #ffdcab;
  --color-secondary: #e2b74b;
  --color-accent-primary: #ff1445;
  --color-accent-secondary: #16e205;
  --radius: 3px;
  --radius-full: 100vh;
  --border-primary: 3px solid black;
  --border-secondary: 1px solid black;
  --drop-shadow-primary: drop-shadow(4px 4px 0px black);
  --box-shadow-primary: 4px 4px 0px black;
  --box-shadow-secondary: 2px 2px 0px black;
  --box-shadow-accent: inset 4px 4px 0px var(--color-secondary),
    inset -4px -4px 0px var(--color-secondary);
  --underline-primary: underline 2px var(--color-accent-primary);
  --underline-offset-primary: 1px;
}

html {
  background-color: var(--color-primary);
}

html,
body,
container {
  height: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: var(--underline-primary);
  text-underline-offset: var(--underline-offset-primary);
  color: black;
}

a:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration-thickness: 3px;
}

a:visited {
  color: black;
}

.scroller {
  overflow-y: auto;

  /* Firefox */
  scrollbar-color: #ff1445 #fff;
}

/* Chrome */
.scroller::-webkit-scrollbar {
  width: var(--spacing-1);
}

.outline-primary {
  border: var(--border-primary);
  filter: var(--drop-shadow-primary);
}

.outline-secondary {
  border: var(--border-primary);
  box-shadow: var(--box-shadow-primary);
}

.scroller::-webkit-scrollbar-track {
  border: var(--border-primary);
  filter: var(--drop-shadow-primary);
  background: white;
  border-right: none;
}

.scroller::-webkit-scrollbar-thumb {
  border: var(--border-primary);
  border-right: none;
  background: var(--color-accent-primary);
}

*,
*::before,
*::after {
  line-height: 1;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: var(--font-body);
  font-weight: 400;
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend,
label,
strong,
button {
  text-transform: uppercase;
  font-family: var(--font-heading);
}

h1,
h2,
h3,
button {
  font-weight: 700;
}

strong {
}

h4,
h5,
h6,
legend,
label {
  font-weight: 400;
}

button {
  cursor: pointer;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

h1 {
  font-size: var(--font-size-1);
  text-decoration: var(--underline-primary);
  text-decoration-color: white;
  text-underline-offset: var(--underline-offset-primary);
  padding: var(--spacing-2);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-5);
}

h4 {
  font-size: var(--font-size-4);
}

h5 {
  font-size: var(--font-size-6);
}

body {
  padding-inline: var(--spacing-1);
}

.container {
  margin-inline: auto;
  max-width: var(--screen-1);
}

.mx-primary {
  margin-inline: var(--spacing-3);
}

.message {
  word-break: break-all;
  max-width: 40ch;
  margin-block: 0;
}

.avatar {
  border-radius: var(--radius-full);
  width: 3.5rem;
  height: 3.5rem;
  border: var(--border-primary);
  box-shadow: var(--box-shadow-secondary);
}

.avatar > svg {
  border-radius: var(--radius-full);
}

.messages {
  border-left: var(--border-secondary);
  padding-inline: var(--spacing-1);
}

.message-item {
  padding: var(--spacing-2);
  padding-left: 0;
}

.message-item:first-of-type {
  padding-top: 0;
}

.wrapper {
  padding: var(--spacing-2);
  max-width: var(--screen-2);
  margin-inline: auto;
  border-radius: var(--radius);
  background-color: white;
}

.box {
  margin-inline: auto;
  max-width: var(--screen-2);
}

.mb-primary {
  margin-block: var(--spacing-3);
}

.mb-4 {
  margin-block: var(--spacing-1);
}

label {
  font-size: var(--font-size-4);
  display: block;
  margin-bottom: var(--spacing-3);
}

.mt-primary {
  margin-top: var(--spacing-3);
}

.mr-primary {
  margin-right: var(--spacing-3);
}

.ml-primary {
  margin-left: var(--spacing-3);
}

.ml-4 {
  margin-left: var(--spacing-1);
}

.inline-block {
  display: inline-block;
}

.available-rooms {
}

.py-primary {
  padding-block: var(--spacing-3);
}

.border-b {
  border-bottom: 1px solid black;
}

.justify-between {
  justify-content: space-between;
}

.error {
  min-height: var(--font-size-5);
  font-size: var(--font-size-5);
  margin-top: 13vh;
  margin-bottom: var(--spacing-1);
  margin-inline: auto;
  max-width: var(--screen-2);
  color: var(--color-accent-primary);
  font-weight: 700;
}

.input-primary {
  font-size: var(--font-size-6);
  min-height: var(--min-h);
  padding: var(--spacing-2);
  padding-left: var(--spacing-1);
  border-radius: var(--radius);
  border: var(--border-primary);
  filter: var(--drop-shadow-primary);
}

.btn-primary {
  height: var(--min-h);
  min-width: 6rem;
  font-size: var(--font-size-5);
  border-radius: var(--radius);
  border: var(--border-primary);
  filter: var(--drop-shadow-primary);
}

.input-primary:focus,
.btn-primary:focus {
  outline: none;
  box-shadow: var(--box-shadow-accent);
}

.btn-primary:hover,
.btn-primary:active {
  transform-origin: center;
  transform: scale(0.95);
  transition: transform ease-out 75ms;
}

header {
  max-width: var(--screen-1);
  margin-inline: auto;
}

.p-0 {
  padding: 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.bg-accent-secondary {
  background-color: var(--color-accent-secondary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.mr-2 {
  margin-right: var(--spacing-2);
}

.grow {
  flex-grow: 1;
}

.resize-none {
  resize: none;
}

.h-500 {
  height: 500px;
}

.mb-2 {
  margin-bottom: var(--spacing-2);
}

.grid {
  display: grid;
}

.grid-cols-auto-1 {
  grid-template-columns: auto 1fr;
}

.col-span-full {
  grid-column: 1 / -1;
}

.col-span-auto {
  grid-column: auto / auto;
}

.p-4 {
  padding: var(--spacing-1);
}

.pr-4 {
  padding-right: var(--spacing-1);
}

.mr-4 {
  margin-right: var(--spacing-1);
}

.pl-4 {
  padding-left: var(--spacing-1);
}

.mt-2px {
  margin-top: 2px;
}
